@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?vx1buy');
  src:  url('../fonts/icomoon.eot?vx1buy#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?vx1buy') format('truetype'),
    url('../fonts/icomoon.woff?vx1buy') format('woff'),
    url('../fonts/icomoon.svg?vx1buy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-services-portfolio:before {
  content: "\e902";
}
.icon-settings:before {
  content: "\e900";
}
.icon-layers:before {
  content: "\e901";
}
.icon-pencil2:before {
  content: "\e906";
}
